libtclmcairo.so
libtclmcairo.dll
libtclmcairo.o
lib/*.o
src/*.o
configure
autom4te.cache/
config.cache
config.log
config.status
Makefile
pkgIndex.tcl
demos/*.png
demos/*.pdf
demos/*.svg
demos/*.eps
demos/*.ps
demos/*.jpg
/tmp/tclmcairo_test.*
*.bak
*~
.#*
\#*#
tclconfig/
nogit/
**nogit
